<header>
    <nav class="navbar">
        <div class="nav-brand">
            <i class="fas fa-paw"></i>
            <h1>Pet Tracker</h1>
        </div>
        <ul class="nav-links">
            <li><a href="/pets"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="/pets/add"><i class="fas fa-plus"></i> Add Pet</a></li>
        </ul>
    </nav>
</header>